// Variaveis de cores
$color-white: #fff;
$color-purple: #3d0570;
$color-brown: #8b572a;
$color-black: #000;

// Variaveis Media Queries
$media-mobile-s: 320px;
$media-mobile-m: 375px;
$media-mobile-l: 425px;
$media-tablet: 768px;
$media-desktop: 1024px;

// mixins de Fontes
@mixin font-title {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
}

@mixin font-subtitle {
    font-family: 'Ruda', sans-serif;
    font-weight: 500;
}

@mixin font-paragraf {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
